form
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 7px;
  height: 50vh;
  background-color: #FABC3F;
}
input
{
  margin: .5rem;
 padding: .5rem;
 border-radius: 5px;
  border: 1px solid;
  border: none;
  background-color: #EBD3F8;

}
.red
{
  color: red;
  font-size: small;
}