body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container {
    display: flex; /* Arrange form elements horizontally */
    flex-direction: column; /* Stack them vertically */
    margin-bottom: 15px;
  }
  
  .fname,
  .lname,
  .email,
  .password {
    margin-bottom: 5px;
  }
  
  .data-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
  }